* {
    --white: #FFF;
    --black: #000;
    --yellow: #FBD85D;
    --gray: #2a292f;
    --sunny: #F4D160;
    --sky: #00A9FF;
    --night-sky:  #0C356A;
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    min-width: 375px;
    max-width: 1445px;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, .container{
    background-color: var(--black);
    color: var(--white);
}

.navbar, .theme-switcher, .start, .start-left-side, .start-right-side ,.yellow-circle{
    display: flex;
    justify-content: center;
    align-items: center;
}


/*************** NAVBAR ***************/

.navbar {
    position: absolute;
    z-index: 2;
    left:0;
    right:0;
    justify-content: space-between;
    padding: 10px 20px;
    margin: auto;
    flex-wrap: wrap;
}

.active-navbar {
    position: fixed;
    background-color: var(--black);
}

.active-list{
    background-color: var(--black);
}

.menu-icon {
    width: 30px;
    height: 30px;
    background-size: 100%;
    background-image: url(./images/menu-white.png);
    cursor: pointer;
}

.navbar-list {
    list-style: none;
    display: none;
}

.navbar-list.navbar-list-active {
    width: 100%;
    order: 1;
    text-align: center;
    margin: 20px 0px;
    display: block;
}

.navbar-list-link {
    text-decoration: none;
    color: var(--white);
    padding: 11px;
}

.navbar-list-active .navbar-list-link{
    margin:20px 0px;
}

.navbar-list-item{
    padding: 0px 10px;
}

.navbar-list-item :hover {
    font-weight: bold;
    padding: 9px;
}

.theme-switcher{
    width: 80px;
    height: 45px;
    background-color: var(--gray);
    background-size: contain;
    border-radius: 100px;
    justify-content: start;
    padding: 0px 10px;
    cursor: pointer;
}

.theme-switcher-button {
    width: 35px;
    height: 35px;
    background-image: url(./images/moon.png);
    background-size: 100%;
}

/*************** START ***************/
.yellow-background-element{
    display: none;
}

.start {
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    min-height: 100vh;
    padding-top: 100px;
}

.start-left-side, .start-right-side{
    display: inline-flex;
    height: 100%;
    padding: 0px 50px;
    min-width: 220px;
    max-width: 450px;
    flex-direction: column;
}

.start-right-side{
    margin:200px 0px;
}

.header h1{
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 50px;
}

.header h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
.header p{
    text-align: justify;
}

.javascript-element{
    background-color: #FBD85D;
    color: #000;
    padding: 0 20px;
}

.social-media{
    margin-top:50px;
}

.social-media img{
    height: 24px;
    padding: 0px 10px;
}

.button-to-projects {
    padding: 20px 50px;
    background-color: transparent;
    color: var(--white);
    cursor: pointer;
    border: 1px solid var(--white);
    border-radius: 100px;
    margin-top: 50px;
    font-weight: bold;
}

.button-to-projects:hover{
    background-color: var(--yellow);
    border: 1px solid var(--black);
    color: var(--black);
}

.my-photo {
    border-radius: 100%;
    width: 300px;
    height: 300px;
}
hr{
    height: 100px;
    margin:50px 0px;
}
.yellow-circle {
    background-color: var(--yellow);
    width: 200px;
    height: 200px;
    text-align: center;
    cursor: pointer;
    border-radius: 100%;
    color: var(--black);
    font-weight:600;
    padding: 10px;
}

/*************** MEDIA ***************/

@media  (min-width: 1000px) {
    .navbar{
        justify-content: end;
    }

    .menu-icon{
        display: none;
    }

    .navbar-list, .navbar-list.navbar-list-active{
        display: flex;
        width: fit-content;
        order: 0;
    }

    .yellow-background-element {
        background-color: var(--yellow);
        width: 350px;
        height: 350px;
        position: absolute;
        border-radius: 0% 0% 100% 0%;
        left: 0;
        top:0;
        display: block;
    }

    .start{
        max-height: 900px;
        padding-top: 0px;
    }

    .yellow-circle{
        margin-top: -100px;
        margin-right: -250px;
    }
   .start-right-side{
    margin: 0px;
   }

   hr{
    display: none;
   }
}


/*************** LIGHT THEME ***************/

.light-theme {
    background-color: var(--white);
    color: var(--black);
}

.light-theme .menu-icon {
    background-image: url(./images/menu.png);
}

.light-theme .navbar-list-link {
    color:var(--black)
}

.light-theme .active-navbar{
    background-color: var(--white);
}

.theme-switcher-light-theme{
    justify-content: end;
    background-color: var(--sunny);
}

.theme-switcher-light-theme .theme-switcher-button{
    background-image: url(./images/sunny.png);
    width: 40px;
    height: 40px;
}

.light-theme .button-to-projects {
    color: var(--black);
    border: 1px solid var(--black);
}

.light-theme .button-to-projects:hover{
    background-color: var(--black);
    color:var(--white);
}

.light-theme .active-list{
    background-color: var(--white);
}